#top-panel{
    background-color: rgb(125, 206, 160);
    padding: 5px;
    display: flex;
    justify-content:center;
    margin-left: 15%;
}
.top-panel-type-element{
    border-color: black;
    border-style: groove;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    width: 20%;
}
.title{
    font-weight: bold;
    text-align: center;
}
.amount{
    background-color: white;
    padding: 0px 5px 0px 5px ;
    margin: 5px;
    border-radius: 15px;
}
.side-panel{
    height: 100%;
    width: 15%;
    position: fixed;
    background-color:rgb(125, 206, 160);
    overflow-x: hidden;
    padding-top: 20px;
}
.cross-panel{
    margin-left: 15%;
    padding: 15px;
    height: 70%;
    width: 70%;
}
#row{
    display: flex;
    justify-content: center;
    border: 5px;
    height: 10%;
    width: 100%;
}
.row-element{
    border: 1px;
    border-color: black;
    border-style: dotted;
    width: 100%;
    justify-content: center;
} 
.draggable-plant{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.select-color{
    margin:15%;
}
#save-project-btn{
    margin:20%;
}