
<div class="side-panel">
        <div>
                <img class="draggable-plant" 
                        id="oak-drag" 
                        src="/assets/images/plants/oak.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="apple-tree-drag" src="/assets/images/plants/apple-tree.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant"
                        id="plum-tree-drag" 
                        src="/assets/images/plants/plum-tree.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="gooseberry-drag" 
                        src="/assets/images/plants/gooseberry.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="currant-drag" 
                        src="/assets/images/plants/currant.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="raspberry-drag" 
                        src="/assets/images/plants/raspberry.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="grass-drag" 
                        src="/assets/images/plants/grass.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="flower-drag" 
                        src="/assets/images/plants/flower.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
                <img class="draggable-plant" 
                        id="reserved-drag" 
                        src="/assets/images/plants/reserved.png" 
                        draggable="true" 
                        (dragstart)="drag($event)">
        </div>
        <div>
                <select class="select-color" [(ngModel)]="selected">
                        <option *ngFor="let color of colors" [ngValue]="color">{{color.name}}</option>
                </select> 

                <button type="button" 
                        class="btn btn-outline-success" 
                        id="save-project-btn"
                        (click)="saveProject()">
                        Save this garden project
                </button>
        </div>
</div>

 <div id="top-panel" *ngIf='landscapeProject'>
    <div class='top-panel-type-element' *ngFor='let type of structureTypes'>
        <div class='title'> {{type}} </div> 
        <div *ngFor='let element of landscapeProject' >
            <div *ngIf='element.structure.Type === type'>
                    <label>{{element.structure.Name}}</label>
                    <label class="amount">{{element.amount}}</label>
            </div>
        </div>
    </div>
</div> 

<div class="cross-panel">
        <div id="row" *ngFor='let item of sizeX; index as i' >
                <div [ngStyle]="{'background-color': selected.value}" 
                        class="row-element" 
                        *ngFor='let item of sizeY; index as y'  
                        id="x:{{i}} y:{{y}}" 
                        (drop)="drop($event)" 
                        (dragover)="allowDrop($event)">
                </div>
        </div>
</div>





