<div id="home">
    <div id="welcome-label">Design a garden</div>
    <div class="workspace">
        <div class="div-text">Define size of area...</div>

        <div class="garden-size">
            <mat-form-field appearance="fill">
                <mat-label>X</mat-label>
                <input matInput [(ngModel)]="axes.AreaX">
              </mat-form-field>
        </div>

        <div class="garden-size">
            <mat-form-field appearance="fill">
                <mat-label>Y</mat-label>
                <input matInput [(ngModel)]="axes.AreaY">
              </mat-form-field>
        </div>

        <button 
            type="button"  
            class="btn btn-outline-secondary"
            (click)="defineSize()">Create new workspace!</button>
    </div>
    <div class="workspace">
        <div class="div-text">Or select your previous project...</div>
        <mat-form-field appearance="fill">
            <mat-label>Projects</mat-label>
            <mat-select>
                <mat-option >
                    Large garden project
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>