#home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    flex-direction: column;
}
.workspace{
    width: 50%;
    max-width: 600px;
    flex-direction: column;
    padding: 5%;
    display: flex;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: darkgray;
    margin: 2px;
}
.garden-size{
    max-width: 600px;
    text-align: center;
}
.div-text{
    font-size: 100%;
}
#welcome-label{
    font-size: 200%;
}

